#principal{
    border: 1px ;
    margin: 0 auto;
    text-align: center;
}
body {
    background-image: url("http://image.prntscr.com/image/59e0083371564a1d8c6b1a1612e7222d.png");
    background-color: #000000;
}

p{
  color: #0000FF; 
  font-weight:bold;
}
a{
  color: #0000FF;  
  font-weight:bold;
}
